@import '../../common/variables.module.scss';
@mixin easeout {
    transition: all 400ms ease-out;
}

.ProjectsPage {

}

.greetingsTitle {
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 1rem;
}

.projectsList {
    .projectsList_item {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "media  content";
        border-top: 1px solid #8b8b8b;
        padding: 2rem 0 3rem;
    }
    .media {
        grid-area: media;
        background-color: peru;
        width: 100%;
        min-height: 255px;
    }
    .projectsList_content {
        grid-area: content;
        h3 {
            border-top: 1px solid #8b8b8b;
            font-size: 1rem;
            font-weight: 400;
            padding: 1.5rem 0 1rem;
            margin: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .titleBubble {
        width: 6rem;
        height: 6rem;
        padding: 2.2rem 0 0 .8rem;
        background: $secondary-color;
        margin: 0 0 1.5rem;
    }
}

@media (max-width: 640px) {
    .projectsList {
        .projectsList_item {
            display: block;
        }
        .media {
            margin-bottom: 1rem;
        }
    }
    
    
}

@media (min-width: 980px) {
    
}