.HomePage {
    display: flex;
}

.photo {
    max-width: 40%;
    margin-right: 5%;
    margin-top: 2rem;

    img {
       width: 100%;
       border-radius: 50%;
       display: block;
    }
}

.contentHello {
    width: 55%;
}

.greetingsTitle {
    font-size: 4rem;
    margin: 0 0 1rem;

    &:nth-child(2) {
        font-size: 2rem;
    }
}

.circleMenu {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    a { 
        background: #E73556;
        color: #fff;
        display: block;
        border-radius: 50%;
        width: 130px;
        height: 130px;    
        vertical-align: middle;
        text-align: center;
        line-height: 130px;
        text-decoration: none;
        text-transform: uppercase;

        &:nth-child(2) {
            background: #900;
        }

        &:nth-child(3) {
            background: #090;
        }
    }
}

.introParagraph {
    font-size: .8125rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-bottom: 2rem;
}