@import '../../common/variables.module.scss';
@mixin easeout {
    transition: all 400ms ease-out;
}

.HomePage {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 4fr 5fr;
    grid-template-areas:
        "photo  titles"
        "photo circles"
        "photo intro";
}

.photo {
    grid-area: photo;
    margin-top: 2rem;

    img {
       width: 100%;
       border-radius: 50%;
       display: block;
    }
}

.greetingsTitle {
    grid-area: titles;
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 1rem;

    &:nth-child(2) {
        font-size: 2.875rem;
        font-weight: 400;
    }
}

.circleMenu {
    grid-area: circles;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;

    a { 
        background: $main-color;
        color: #fff;
        display: block;
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        @include easeout();
        &:hover {
            background-color: darken($main-color, 20%);
        }

        &:nth-child(2) {
            background: $secondary-color;
            &:hover {
                background-color: darken($secondary-color, 20%);
            }
        }

        &:nth-child(3) {
            background: $third-color;
            &:hover {
                background-color: darken($third-color, 20%);
            }
        }
    }
}

.introParagraph {
    grid-area: intro;
}

@media (max-width: 640px) {
    .HomePage {
        grid-template-columns: 1fr;
        grid-template-areas:
            "titles"
            "circles"
            "photo"
            "intro";
    }
    .circleMenu a {
        width: 27vw;
        height: 27vw;
        line-height: 27vw;
    }
    .greetingsTitle {
        display: inline-block;
        font-size: 3rem;
        &:nth-child(2) {
            font-size: 1.5rem;
            margin-left: 0.5rem;
        }
    }
}

@media (min-width: 980px) {
    .circleMenu a {
        width: 10rem;
        height: 10rem;
        line-height: 10rem;
    }
}