
.titlesName {
    h1 {
        font-family: 'Noticia Text', serif;
        font-size: 2.7rem;
        margin: 0 0 1rem;
    }
    h2 {
        font-size: 1.125rem;
        margin: 0 0 1rem;
    }
}
.navigationList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3rem;

    li {
        font-size: .875rem;
        margin-right: 2rem;
        text-transform: uppercase;
    }
}