$main-color: #00a1a6;
$secondary-color: #642f59;
$third-color: #95999a;
$bg-color: #f2f3f5;

$main-color: #4abdac;
$secondary-color: #fc4a1a;
$third-color: #f7b733;
$bg-color: #dfdce3;

$main-color: #b8499a;
$secondary-color: #d3de43;
$third-color: #481e5d;
$bg-color: #f2f3f5;

$main-color: #0074b7;
$secondary-color: #ffce00;
$third-color: #007848;
$bg-color: #f2f3f5;

$main-color: #00899f;
$secondary-color: #60bac0;
$third-color: #e47209;
$bg-color: #f2f3f5;

$main-color: #6d7994;
$secondary-color: #96838f;
$third-color: #8e99a1;
$bg-color: #eaeaea;

$main-color: #6a94cf;
$secondary-color: #825f56;
$third-color: #bde1f7;
$bg-color: #eaeaea;

$main-color: #e64d38;
$secondary-color: #ecb100;
$third-color: #008f99;
$bg-color: #eaeaea;

$main-color: #936091;
$secondary-color: #4a2648;
$third-color: #705a9c;
$bg-color: #eaeaea;

$main-color: #286bab;
$secondary-color: #d1505b;
$third-color: #438598;
$bg-color: #eaeaea;

$main-color: #72cad5;
$secondary-color: #52bc8f;
$third-color: #a5a5b1;
$bg-color: #eaeaea;

$main-color: #acb8c4;
$secondary-color: #c8d9c7;
$third-color: #eedbc0;
$bg-color: #eaeaea;

$main-color: #ff3834;
$secondary-color: #64d6ff;
$third-color: #a9a9a9;
$bg-color: #eaeaea;

$main-color: #e2555f;
$secondary-color: #5ac0d0;
$third-color: #b7b7b7;
$bg-color: #eaeaea;