.header, .main, .footer {
    width: 980px;
    margin: auto;
}
.header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
}
.navigationList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}