html {
    font-family: 'Noticia Text', serif;
    font-size:16px;
    color: rgb(70, 70, 70);
    background-color: #eae5e5;
}

p {
    font-size: .8125rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-bottom: 2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input, textarea, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .8125rem;
    line-height: 1.4rem;
    background: $main-color;
    border: none;
    box-sizing: border-box;
    color: #fff;
    padding: .35rem;
    margin-bottom: .35rem;
}
input, textarea {
    &::placeholder {
        color: #fff;
    }
    &:focus {
        outline: 1px solid $secondary-color;
        box-shadow: 0 0 2px $secondary-color;
    }
}
button {
    cursor: pointer;
    font-weight: 400;
    padding: .35rem 1.8rem;
    background: $secondary-color;
}

.header, .main, {
    width: 980px;
    margin: auto;
}
.header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 4fr 5fr;
    height: 120px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer {
    width: 100%;
    box-sizing: border-box;
    background-color: $main-color;

    div {
        width: 980px;
        margin: 0 auto;
    }
    .footerItemsList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "icon icon icon icon";
        grid-gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 3rem 0;
    }
    .footerItem {
        grid: icon;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 1.2rem;
        color: #fff;
        box-sizing: border-box;
    }
    .icon{
        box-sizing: border-box;
        width: 2.5rem;
        height: 2.5rem;
        padding: .6rem;
        margin-right: .8rem;
        float: left;
        color: $main-color;
        text-align: center;
        background: $secondary-color;
        border-radius: 50%;
        line-height: 1.4rem;
    }
    h4 {
        font-weight: bold;
        margin: 0;
    }
    p{
        margin: 0;
    }
    a {
        color: #fff;
    }
    .social-links {
        margin-top: 0.5rem;
        a {
            color: #fff;
            &:hover {
                color: $secondary-color;
            }
        }
    }
}

@media (max-width: 979px) {
    .header, .main, .footer div {
        box-sizing: border-box;
        width: 100%;
        padding: 0 1rem;
    }
}

@media (max-width: 750px) {
    .header {
        grid-template-columns: 4fr 1fr;
    }
    .footer ul {
        padding: 1.5rem 0;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "icon icon"
                            "icon icon";
    }
}

@media (max-width: 540px) {
    .footer ul {
        display: block;
    }
    .footer li {
        height: 3.5rem;
    }
}