@import '../../common/variables.module.scss';
@mixin easeout {
    transition: all 400ms ease-out;
}

.ContactsPage {
    display: grid;
    grid-gap: 2rem;    
    grid-template-rows: 150px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title  form"
        "contacts  form";
}
.greetingsTitle {
    grid-area: title;
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 1rem;
}

.contacts {
    grid-area: contacts;

    p {
        margin: 0 0 0.5rem;
    }
}
.social-links {
    margin-top: 1rem;
    li {
        display: inline-block;
        margin-right: .75rem;
    }
    a {
        color: #464646;
        transition: all 5s ease-out;
        @include easeout();
        &:hover {
            color: darken(#464646, 30%);
        }
    }
}

.form {
    grid-area: form;
    margin: 0 0 2rem;

    input, textarea {
        width: 100%;
    }
    button {
        float: right;
    }
}




@media (max-width: 640px) {
    
}

@media (min-width: 980px) {
    
}